.social {
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    display: inline-block;
    padding: 0 19px 0 0;
    line-height: 20px !important;
    vertical-align: top;
    a {
      display: block;
      padding: 0;
      font-size: 1.3em;
      color: inherit;
      text-align: center;
      text-decoration: none;
      transition: .25s all;
      &:hover {
        transition: .25s all;
        color: $link-color;
      }
    }
  }
  label {
    font-weight: 300;
  }
}
