---
author: Frontend Team
ourTeam: My Team
---
{% extends 'layouts/application.html' %}{% block bodyClass %}page-home{% endblock %}{% block content %}
<main id="main-content" class="main-content">
  <div class="container">
    <h1>{{ author }} {{ ourTeam }}</h1>
    <h2>Headline style h2 </h2>
    <h3>Headline <a href="#">style H3</a></h3>
    <h4>Headline style H4</h4>
    <h5>Headline style H5</h5>
    <h6>Headline style H6</h6>
    <a href="#"><span class="sr-only">link</span></a>
    <div class="bg-primary text-white p-4 last-mb-none">
      <h2 class="h1">{{ author }} {{ ourTeam }}</h2>
      <h2>Headline style h2 </h2>
      <h3>Headline <a href="#">style H3</a></h3>
      <h4>Headline style H4</h4>
      <h5>Headline style H5</h5>
      <h6>Headline style H6</h6>
      <ul>
        <li>provide specific training and certifications to tower
          <a href="#">climbers and managers in the field</a>
        </li>
        <li>provide specific training and certifications to tower climbers and managers in the field</li>
        <li>provide specific training and certifications to tower climbers and managers in the field</li>
        <li>provide specific training and certifications to tower climbers and managers in the field</li>
        <li>provide specific training and certifications to tower climbers and managers in the field</li>
      </ul>
      <ol>
        <li>provide specific training and certifications to tower
          <a href="#">climbers and managers in the field</a>
        </li>
        <li>provide specific training and certifications to tower climbers and managers in the field</li>
        <li>provide specific training and certifications to tower climbers and managers in the field</li>
        <li>provide specific training and certifications to tower climbers and managers in the field</li>
        <li>provide specific training and certifications to tower climbers and managers in the field</li>
      </ol>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy
        text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
        specimen
        book. It has survived not only five centuries
      </p>
    </div>
    <div class="space-50"></div>
    <p>
      <img class="lazy img-svg" data-src="assets/images/logo.svg" src="{{imagesBase64}}" alt="images">
    </p>
    {% include "modules/mod-test.html" %}
  </div>
  <div class="space-50"></div>
</main>
{% endblock %}
