{% extends 'layouts/application.html' %}
{% block htmlClass %}h-100{% endblock %}
{% block bodyClass %}page-internal d-flex h-100{% endblock %}
{% block wrapperClass %}d-flex w-100 h-100 flex-column{% endblock %}
{% block content %}
<main id="main-content" class="main-content">
	<div class="space-30"></div>
	<div class="container last-mb-none">
		<ol class="last-mb-none">
			<li><a href="index.html">index.html</a></li>
			<li><a href="universal.html">universal.html</a></li>
			<li><a href="contact.html">contact.html</a></li>
			<li><a href="burger.html">burger.html</a></li>
			<li><a href="404.html">404.html</a></li>
		</ol>
	</div>
	<div class="space-30"></div>
</main>
{% endblock %}
