$white: #fff;

a::after {
  content: " ";
}

a[href]::after {
  content: none !important;
}

a {
  page-break-inside: avoid;
  text-decoration: none !important;
  color: #000;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: visible;
  overflow-y: visible;
  background: $white !important;
  color: #000 !important;
}

#content,
#page,
body,
html,
#wrapper,
.container,
.group-arrows {
  width: 100% !important;
  margin: 0 !important;
  float: none !important;
  padding: 0 !important;
  max-width: none !important;
}

#banner {
  padding-top: 0 !important;

  .d-table {
    display: block !important;
    height: auto !important;

    h1,
    p {
      br {
        display: none;
      }
    }
  }
}

.col-md-5,
.col-md-6,
.col-md-9,
.col-md-11,
.col-5,
.col-6,
.col-7 {
  flex: 0 0 100% !important;
  max-width: 100% !important;
  width: 100% !important;
}

#header {
  position: relative !important;
  text-align: center !important;
  background-color: transparent !important;

  .col-md-2,
  .col-md-3,
  .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }

  .logo {
    position: relative !important;
    left: 0 !important;
    right: 0 !important;
    text-align: center !important;
    max-width: 100% !important;
    width: 100% !important;

    a {
      max-width: 100% !important;
      width: 100% !important;
      margin: 0 auto !important;
      display: block !important;
      text-align: center !important;
    }

    img {
      filter: invert(100%);
    }
  }
}

@page {
  margin: 1cm;
}

#main-content {
  padding-top: 0 !important;
}

article {
  page-break-before: always;
}

body,
p,
li,
.page-home {
  font-size: 18px !important;
}

h1,
.h1 {
  font-size: 50px !important;
}

h2,
.h2 {
  font-size: 40px !important;
}

h3,
.h3 {
  font-size: 30px !important;
}

h4,
.h4 {
  font-size: 20px !important;
}

h5,
.h5 {
  font-size: 18px !important;
}

h6,
.h6 {
  font-size: 16px !important;
}

blockquote {
  page-break-inside: avoid;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  page-break-after: avoid;
  page-break-inside: avoid;
  margin-top: 0 !important;
  margin-bottom: 15px !important;
}

img {
  page-break-inside: avoid;
  page-break-after: avoid;
  max-width: 700px !important;
}

.d-table {
  height: auto !important;
}

table,
pre {
  page-break-inside: avoid;
}

ul,
ol,
dl {
  page-break-before: avoid;
}

.d-none {
  display: none;
}

.d-print-block {
  display: block;
}

.show-print {

  position: fixed !important;
  z-index: 99999;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background-color: #fff;
  text-align: center;

  .d-table {
    display: table;
    width: 100% !important;
    height: 100% !important;
  }

  .d-table-cell {
    display: table-cell !important;
    vertical-align: middle
  }
}

article a[href^="#"]::after {
  content: "";
}

.embed-youtube,
.embed-responsive {
  position: absolute;
  height: 0;
  overflow: hidden;
}

.btn,
.btn-border,
.read-more,
.mod-form,
#header .col-menu,
.col-langue {
  display: none;
}

address,
dt,
dd,
blockquote {
  font-size: 18px !important;
}

code,
pre {
  font-family: "Courier New", Courier, mono, Arial, serif;
}

ul,
ol {
  list-style: square;
  margin-left: 18pt;
  margin-bottom: 20pt;
}

.slick-list {
  .slick-slide {
    margin: 0 auto !important;
  }
}

div,
section,
p,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  opacity: 1 !important;
  width: auto !important;
  transform: none !important;
  height: auto !important;
  position: static !important;
}

.slick-dotted:not(.accordion),
.slick-dots,
.slick-arrow {
  display: none !important;
}

.navbar-expand-lg,
#header-logo .d-lg-none,
#footer,
.breadcrumb,
.form-group,
.pagination,
.social,
#modal,
.hamburger-menu,
.form-contact,
  {
  display: none !important;
}
