<div class="navbar-collapse main-menu" id="main-menu" data-module="menu">
  <ul class="main-menu-ul navbar-nav ml-lg-auto">
    <li class="active has-sub mega-dropdown">
      <a href="universal.html">About Us</a>
      <div class="nav-item-arrows d-lg-none">
        <i class="icomoon icon-chevron-down" aria-hidden="true"></i>
      </div>
      <div class="dropdown-menu main-menu-dropdown">
        <div class="container">
          <div class="row">
            <ul class="col-lg">
              <li>
                <a href="singlecasestudy.html">network deployment</a>
                <div class="nav-item-arrows d-lg-none">
                  <i class="icomoon icon-chevron-down" aria-hidden="true"></i>
                </div>
                <ul class="menu-child">
                  <li>
                    <a href="#">Program Management</a>
                  </li>
                  <li>
                    <a href="#">Construction</a>
                  </li>
                  <li>
                    <a href="#">Engineering</a>
                  </li>
                  <li>
                    <a href="#">Site Acquisition</a>
                  </li>
                  <li>
                    <a href="#">Pole Licensing</a>
                  </li>
                </ul>
              </li>
            </ul>
            <ul class="col-lg">
              <li class="active">
                <a href="#">Vista by ViewPoint</a>
              </li>
              <li>
                <a href="#">CMiC</a>
              </li>
              <li>
                <a href="#">COINS</a>
              </li>
            </ul>
            <ul class="col-lg">
              <li>
                <a href="#">broadband consulting</a>
              </li>
            </ul>
            <ul class="col-lg">
              <li>
                <a href="#">broadband consulting</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li>
      <a href="page.html">Contact Us</a>
    </li>
    <li class="has-sub">
      <a href="#">News</a>
      <div class="nav-item-arrows d-lg-none">
        <i class="icomoon icon-chevron-down" aria-hidden="true"></i>
      </div>
      <div class="dropdown-menu main-menu-dropdown">
        <ul>
          <li>
            <a href="#">Workshops</a>
          </li>
          <li>
            <a href="#">erp-selection</a>
          </li>
          <li>
            <a href="#">Erp lanning</a>
          </li>
          <li>
            <a href="#">erp implementation</a>
          </li>
          <li class="active">
            <a href="#">Program Mangement</a>
          </li>
          <li>
            <a href="#">Training</a>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <a href="#">Shop</a>
    </li>
  </ul>
</div>
