<ul>
  <li>
    <a rel="noopener noreferrer" target="_blank" href="#">
      <i class="icomoon icon-twitter" aria-hidden="true"></i>
      <span class="sr-only">twitter</span>
    </a>
  </li>
  <li>
    <a rel="noopener noreferrer" target="_blank" href="#">
      <i class="icomoon icon-linkedin2" aria-hidden="true"></i>
      <span class="sr-only">linkedin</span>
    </a>
  </li>
  <li>
    <a rel="noopener noreferrer" target="_blank" href="#">
      <i class="icomoon icon-facebook" aria-hidden="true"></i>
      <span class="sr-only">facebook</span>
    </a>
  </li>
  <li>
    <a rel="noopener noreferrer" target="_blank" href="#">
      <i class="icomoon icon-google-plus" aria-hidden="true"></i>
      <span class="sr-only">google</span>
    </a>
  </li>
</ul>
