// stylelint-disable
@font-face {
  font-family: "icomoon";
  font-display: swap;
  src: url("../fonts/icomoon.eot?tactmi");
  src: url("../fonts/icomoon.eot?tactmi#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?tactmi") format("truetype"),
    url("../fonts/icomoon.woff?tactmi") format("woff"),
    url("../fonts/icomoon.svg?tactmi#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icomoon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-previous:before {
  content: "\e914";
}

.icon-stop:before {
  content: "\e915";
}

.icon-pause:before {
  content: "\e916";
}

.icon-play:before {
  content: "\e919";
}

.icon-subtract:before {
  content: "\e92a";
}

.icon-phone:before {
  content: "\e943";
}

.icon-google-plus:before {
  content: "\ea8b";
}

.icon-facebook:before {
  content: "\ea90";
}

.icon-instagram:before {
  content: "\ea93";
}

.icon-twitter:before {
  content: "\ea96";
}

.icon-youtube:before {
  content: "\ea9e";
}

.icon-youtube2:before {
  content: "\ea9f";
}

.icon-linkedin2:before {
  content: "\eaca";
}

.icon-tag:before {
  content: "\e909";
}

.icon-tag2:before {
  content: "\e90e";
}

.icon-calendar-alt:before {
  content: "\e913";
}

.icon-icon-check:before {
  content: "\e900";
}

.icon-icon-phone:before {
  content: "\e903";
}

.icon-icon-map:before {
  content: "\e904";
}

.icon-icon-search:before {
  content: "\e905";
}

.icon-calendar-alt:before {
  content: "\e913";
}

.icon-icon-check:before {
  content: "\e900";
}

.icon-icon-phone:before {
  content: "\e903";
}

.icon-icon-map:before {
  content: "\e904";
}

.icon-icon-search:before {
  content: "\e905";
}

.icon-cancel:before {
  content: "\e908";
}

.icon-cancel:before {
  content: "\e908";
}

.icon-checkmark:before {
  content: "\e92b";
}

.icon-mail-envelope-closed2:before {
  content: "\e902";
}

.icon-mail-envelope-closed:before {
  content: "\e901";
}

.icon-add2:before {
  content: "\e91e";
}

.icon-close:before {
  content: "\e91f";
}

.icon-menu:before {
  content: "\e920";
}

.icon-keyboard_arrow_down:before {
  content: "\e906";
}

.icon-arrow_drop_down:before {
  content: "\e907";
}

.icon-minus3:before {
  content: "\e926";
}

.icon-plus2:before {
  content: "\e921";
}

.icon-chevron-right:before {
  content: "\e90a";
}

.icon-chevron-left:before {
  content: "\e90b";
}

.icon-chevron-down:before {
  content: "\e90c";
}

.icon-chevron-up:before {
  content: "\e90d";
}

.icon-minus2:before {
  content: "\e925";
}

.icon-chevron-with-circle-up:before {
  content: "\e90f";
}

.icon-chevron-with-circle-right:before {
  content: "\e910";
}

.icon-chevron-with-circle-left:before {
  content: "\e911";
}

.icon-chevron-with-circle-down:before {
  content: "\e912";
}

.icon-arrow-thin-right:before {
  content: "\e917";
}

.icon-arrow-thin-left:before {
  content: "\e918";
}
