@charset 'UTF-8';
// stylelint-disable

/* Icons */

/* Arrows */

.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  display: block;
  padding: 0;
  color: $blue;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  transform: translate(0, -50%);
  &:hover {
    //color: $blue;
  }
}

.slick-prev {
  left: -25px;
}

// [dir="rtl"] .slick-prev {
//   right: -25px;
//   left: auto;
// }

.slick-next {
  right: -25px;
}

// [dir="rtl"] .slick-next {
//   right: auto;
//   left: -25px;
// }

/* Dots */

// .slick-dotted.slick-slider {
//   margin-bottom: 30px;
// }

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  list-style: none;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0 8px;
  margin-bottom: 0;
  cursor: pointer;
  &::before {
    display: none;
  }
  &.slick-active,
  &:hover {
    button {
      background: $blue;
    }
  }
}

.slick-dots li button {
  display: block;
  width: 10px;
  height: 10px;
  padding: 5px;
  color: transparent;
  cursor: pointer;
  background: transparent;
  border: 2px solid $blue;
  border-radius: 50%;
  // outline: none;
}

// .slick-dots li button:hover,
// .slick-dots li button:focus {
//   outline: none;
// }
