@include media-breakpoint-up(sm) {
  .main-content {
    padding-top: 63px;
  }
}

@include media-breakpoint-up(lg) {
  .main-content {
    padding-top: 62px;
  }
}

@media only screen and (max-device-width: 1024px) {
  .touch {
    * {
      cursor: pointer;
    }
  }
}

@include media-breakpoint-up(xl) {
  .container {
    max-width: $media-xl;
  }
}
