<h3>Custom popup js</h3>
<a href="javascript:;" data-id="#content-popup" data-htmlclass="html-popup-content"
  class="btn btn-primary popup-is-open my-1">Popup-is-open Image</a>
<a href="javascript:;" data-id="#content-popup2" data-htmlclass="html-popup-content"
  class="btn btn-primary popup-is-open my-1">Popup-is-open content</a>
<a href="//www.youtube.com/embed/_sI_Ps7JSEk?autoplay=1&autohide=1&fs=1&rel=0&hd=1&wmode=transparent&enablejsapi=1&html5=1"
  data-id="" data-popup="video" data-htmlclass="html-popup-video" class="btn btn-primary popup-is-open my-1">Popup-is-open
  video</a>
<a href="javascript:;" data-id="#content-popup4" data-htmlclass="html-popup-content"
  class="btn btn-primary popup-is-open my-1">Popup-is-open not content</a>
<a href="javascript:;" data-id="#content-popup3" data-popup="garally" data-htmlclass="html-popup-garally"
  class="btn btn-primary popup-is-open my-1">Popup-is-open garally</a>
<a href="javascript:;" data-id="#content-popup5" data-htmlclass="html-popup-content"
  class="btn btn-primary popup-is-open my-1">Popup-is-open popup static</a>
<div class="space-50"></div>
<div id="content-popup" data-content="width-auto" class="d-none">
  <div class="popup-inner">
    <img class="lazy" src="{{imagesBase64}}"
      data-src="https://www.carbon8.com/getmedia/f41844d3-3f45-4183-b426-a9a7b78818cc/XWest_Template_Mockups_800x800_1.png"
      alt="img">
  </div>
</div>

<div id="content-popup2" class="d-none">
  <div class="container popup-inner">
    <div class="p-5">
      <h2>Headline style h2 </h2>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy
        text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
        specimen
        book. It has survived not only five centuries
      </p>
    </div>
  </div>
</div>

<div id="content-popup3" data-content="" class="d-none">
  <div class="container popup-inner">
    <div class="gallary-silder">
      <div class="gallary-item">
        <img class="lazy" src="{{imagesBase64}}"
          data-src="https://www.carbon8.com/getmedia/f41844d3-3f45-4183-b426-a9a7b78818cc/XWest_Template_Mockups_800x800_1.png"
          alt="img">
      </div>
      <div class="gallary-item">
        <img class="lazy" src="{{imagesBase64}}"
          data-src="https://www.carbon8.com/getmedia/93c968c6-29b8-4b21-b160-991cbbab12c1/Preview-Image-700x700.jpg"
          alt="img">
      </div>
    </div>
  </div>
</div>
<div id="content-popup5" data-content="" class="mod-popup-static">
  <div class="popup-container ps-as">
    <div class="popup-content container">
      <div class="mask-pop-overlay"></div>
      <div class="container popup-inner">
        <div class="p-5">
          <h2>Headline style h2 static</h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy
            text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
            type specimen
            book. It has survived not only five centuries
          </p>
        </div>
        <a href="javascript:;" class="popup-is-close">
          <span class="icomoon icon-cancel"></span>
        </a>
      </div>
    </div>
  </div>
</div>
